.CategoriesWrapper {
    margin-bottom: 10px;
}

.CategoriesTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #eff5e4;
    margin-bottom: 20px;
}
