.logo{
    margin: 5px;
    width: 95px;
    height: 70px;
    background-image: url("https://oz.by/img/module-header/logo-2.v1639993773.png?123");
    background-size: contain;
  }

  :global(.anticon-shopping) {
    color: black;
    font-size: 25px;
  }
  :global(.anticon-shopping-cart) {
    color: black;
    font-size: 25px;
  }
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


